@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-gray-50; */
  }
  h1 {
    @apply mb-4 text-[32px] font-medium;
  }
  h2,
  label {
    @apply text-lg font-semibold;
  }
  p {
    @apply font-roboto font-light;
  }
  input,
  select {
    @apply rounded-lg bg-accent/10 p-5 font-roboto font-light placeholder:text-accent;
  }
  .error-text {
    @apply text-sm font-normal text-red-500;
  }
}
